<h2><%= link_to @git.name, git_path(@git) %></h2>
<% if flash[:notice] %><h2><%= flash[:notice] %></h2><% end %>
<div class="child">Logged <%= @git.commits.count %> commits</div>
<br style="clear: both;" />

<p><%= link_to "Branches", git_branches_path(@git), :class => "button" %> (<%= @git.branches.size %>)</p><br />
<p><%= link_to "Commits", git_commits_path(@git), :class => "button" %> (<%= @git.commits.size %>)</p>