<div class="white">
  <% if flash[:notice] %><p class="flash_notice"><%= flash[:notice] %></p><% end %>
  Logged <%= @git.commits.count %> commits
</div>
<br style="clear: both;" />

<p><%= link_to "Branches", git_branches_path(@git), :class => "button" %> (<%= @git.branches.size %>)</p><br />
<p><%= link_to "Commits", git_commits_path(@git), :class => "button" %> (<%= @git.commits.size %>)</p>