<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= APP_CONFIG[:name] %></title>
	<%= stylesheet_link_tag "formtastic.css", "application.css" %>
</head>

<body>

<div class="wrapper">
  <h1><%= link_to "Git Picker", root_path %></h1>
  <p>This app allows you to <span>upload git repos and export logs</span>, it's awesome.</p>
  <p>To start off, you're going to need to go into your application root, <span>tar -xf foo.tar.gz .git</span> and then upload it using <span><%= link_to "this form", new_git_path %></span>.</p>
  <%= yield %>
  <div class="credits"><%= link_to "@anathematic", "http://twitter.com/anathematic" %></div>
</div>

</body>
</html>
