<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= APP_CONFIG[:name] %></title>
	<%= stylesheet_link_tag "formtastic.css", "application.css" %>
</head>

<body>

<div align="center">  
  <div class="wrapper">
    <h1><%= link_to "Git Picker", root_path %></h1>
    <p><i>Grab git logs easily</i></p>

    <div><%= flash[:notice] %></div>

    <%= yield %>
  </div>
</div>

</body>
</html>
